.member {
    border: 1px solid lightgray;
    margin-bottom: 10px;
    padding: 10px;
}
.member h2,
.member p {
    margin: 0;
}
.filter-container {
    margin-bottom: 15px;
}
.list-button {
    cursor: pointer;
}
.list-button:hover {
    background: #e0e0e0;
}

.list-group-container {
  height: 700px;
  overflow-y: scroll;
}

.filter-container {
  position: relative;
}
.filter-container .clear-btn {
  position: absolute;
  right: 14px;
  top: 8px;
}